default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  variables:
    statement_timeout: 5s
    lock_timeout: 5s

development:
  <<: *default
  database: cram_development

test:
  <<: *default
  database: cram_test

production:
  <<: *default
  database: cram_production
